* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "open sans";
}

.contenedor {
    padding: 50px 0;
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.titulo {
    color: #4682b4;
    font-size: 2em;
    text-align: center;
    margin-bottom: 60px;
}

.sub-titulo {
    color: #4682b4;
    font-size: 1.4em;
    margin-top: 2%
}

header {
    width: 100%;
    height: 700px;
    background: #0f2027;
    background: -webkit-linear-gradient(to right,
            hsla(198, 39%, 28%, 0.562),
            hsla(195, 35%, 19%, 0.568),
            hwb(198 6% 85% / 0.589)),
        url(../img/FONDO.jpeg);
    background: linear-gradient(to right,
            hsla(198, 39%, 28%, 0.562),
            hsla(195, 35%, 19%, 0.568),
            hwb(198 6% 85% / 0.589)),
        url(../img/FONDO.jpeg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.textos-header h1 {
    color:rgb(255, 255, 255);
    font-size: 7vw;   
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.diseño-imagenes {
    display: flex;
    justify-content: center;
}
.imagen1 {
    width: 350px;
    border-radius: 15px;
    box-shadow: 0px 3px 5px rgb (15, 15, 15, 5);
    margin-right: 25px;
    margin-left: 25px;  
    position: relative;
    overflow: hidden;  
}

.parrafo-1 {
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 1.3em;
    text-align: justify;
}

.parrafo-2 {
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 1.3em;
    text-align: justify;
}

.diseño-videos {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}